.header__lang-link {
  font-size: 24px;
  line-height: 1.2;
  margin-right: 18px;
  align-self: center;
  cursor: pointer;
}
.header__lang-link:first-of-type {
  text-decoration: underline;
}
.header__lang-link:last-of-type {
  margin-right: 0px;
}
