.cover__link {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.cover__link::before {
  content: "";
  background-color: rgba(42, 44, 47,30%);
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .3s ease;
}
.cover__link:hover:before{
  background-color: rgba(42, 44, 47,80%);
}

@media (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }

}

@media (max-width: 768px){
  .cover__link {
    max-width: 768px;
    min-height: 480px;
  }

}

@media (max-width: 425px) {
  .cover__link {
    max-width: 320px;
    min-height: 200px;
  }

}
