.place__title {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  margin: 0 0 48px 0;
  max-width: 460px;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.1;
}
@media (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media (max-width: 878px){
  .place__title  {
    max-width: 340px;
    font-size: 42px;
  }
}

@media (max-width: 425px) {
  .place__title {
    width: 288px;
    grid-column: 1/2;
    font-size: 32px;
    margin: 0 auto 32px;
  }
}

