.places {
  max-width: 984px;
  margin: 92px auto 0;
}
@media (max-width: 1024px) {
  .places {
    max-width: 928px;
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media (max-width: 768px){
  .places {
    max-width: 720px;
    margin-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 425px) {
  .places {
    max-width: 320px;
    margin-top: 64px;
    padding-left: 0;
    padding-right: 0;
  }
}
