.header {
  margin: 28px auto 0;
  max-width: 1184px;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  padding: 0 48px;
}
@media (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media (max-width: 768px){
  .header {
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
  }
}


@media (max-width: 425px) {
  .header {
    max-width: 288px;
    min-height: 42px;
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
