.footer__link {
  text-decoration: none;
  color: white;
  transition: 0.1s;
  font-size: 16px;
  line-height: 1.125;
}
.footer__link:hover {
  opacity: 80%;
}


@media (max-width: 625px) {
  .footer__link{
    font-size: 24px;
    line-height: 1;
  }
}

