@font-face {
  src: url(./black/Inter-Black.woff);
  src: url(./black/Inter-Black.woff2);
  font-family:"Inter";
  font-weight: 900;
}

@font-face {
  src: url(./bold/Inter-Bold.woff);
  src: url(./bold/Inter-Bold.woff2);
  font-family:"Inter";
  font-weight: 700;
}
@font-face {
  src: url(./regular/Inter-Regular.woff);
  src: url(./regular/Inter-Regular.woff2);
  font-family:"Inter";
  font-weight: 400;
}
