.intro {
  margin: 92px 0 0 148px;
}

@media (max-width: 1024px) {
  .intro {

    margin: 92px 0 0 48px;
  }
}

@media (max-width: 768px){
  .intro {
    margin: 88px auto 0;
  }
}

@media (max-width: 425px) {
  .intro {
    max-width: 288px;
    margin: 64px auto 0;
  }
}
